.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: #FCFCFC
}

a {
  text-decoration: none;
}

#main {
  display:flex;
  flex-direction:column;
  justify-content: center;
}

#buttons{
  display:flex;
  flex-direction: column;
  justify-content:center;
  margin: 5px 0px 5px 0px;
}
