.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: #FCFCFC
}

a {
  text-decoration: none;
}

#title {
  padding: 10px;
  max-width: 10vw;
}

#info{
  display:flex;
  flex-direction: column;
  border: 3px solid #FCFCFC;
  border-radius: 10px;
  padding: 10px;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

#buttons{
  display:flex;
  flex-direction: column;
  padding: 10px;
}
